<div class="container-newlang">
    <h3>Añadir idioma</h3>
    <div class="row justify-content-md-center">
        <form [formGroup]="langForm" id="newLangForm">
            <div class="col-inputs">
                <input type="text" formControlName="code" placeholder="Código" maxlength="3">
                <input type="text" formControlName="name" placeholder="Nombre del idioma">
                <input type="text" formControlName="icon" placeholder="Icono idioma (svg)">
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-outline-info mt-4">Guardar</button>
            </div>
        </form>
        <div *ngIf="alert" class="alert alert-warning alert-dismissible fade show" role="alert">
          ¡Idioma guardado!
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
    </div>
</div>


<div class="container-main">
    <form [formGroup]="textForm" id="newTextForm">
        <h3>Formulario textos</h3>
        <div class="container lang">
            <p>Seleccionar idioma</p>
            <select formControlName="language">
              <option *ngFor="let language of languages" [value]="language._id" [selected]="language.code == 'en'">{{language.name}}</option>
            </select>
        </div>
        <div class="container-table">
            <div class="form-group">
                <table>
                    <thead>
                        <tr>
                            <th>CÓDIGOS</th>
                            <th>IDIOMA PREDETERMINADO</th>
                            <th>IDIOMA SELECCIONADO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" formControlName="code" placeholder="Códigos"></td>
                            <td> <input type="text" formControlName="name" placeholder="Idioma predeterminado"></td>
                            <td><input type="text2" formControlName="name2" placeholder="Idioma seleccionado"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-outline-dark mt-4">Enviar</button>
            </div>
        </div>
    </form>
    <div *ngIf="alert2" class="alert alert-warning alert-dismissible fade show" role="alert">
      ¡Textos guardados!
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>
</div>
