.container {
  padding: 17px;
  .col {
    margin-right: 30px;
  }
  .card {
    padding: 25px;
    border-radius: 8px;
  }
  h2 {
    text-align: center;
    color: black;
  }
  h3 {
    text-align: center;
    color: yellow;
  }
  p, li {
    font-size: 18px;
    color: white;
  }
  p.thick {
    font-weight: bolder;
    font-size: 20px;
  }
  .gmap_canvas {
    padding: 10px;
  }
  #carrusel {
    max-width: 333px;
    max-height: 100%;
    border-radius: 5px;
  }
  .col-4 {
    background-color: lightgrey;
    border-radius: 8px;
    padding: 20px;
  }
  input,
  select {
    margin-bottom: 20px;
  }
  .form-group {
    margin-top: 8%;
  }
  .btn-warning:hover {
    box-shadow: 1px 1px grey;
  }
  label {
    font-size: 20px;
    margin-left: 3px;
    margin-bottom: 10px;
  }

  .alert {
    font-size: 1.4em;
    text-align: center;
    border-radius: 5px;
    width: 107%;
  }
}

.card {
  background-color: rgb(26, 26, 26, 0.85);
}

@media (max-width: 535px) {

  iframe {
    width: 250px;
  }
  #carrusel {
    width: 250px;
  }

  .col-4 {
margin-top: 20px;
width: 100%;
  }
}
