.container {
  margin-left: 15%;
  margin-bottom: 3%;
}

.tour-maker {
  background-color: rgb(217, 225, 236);
  border-radius: 5px;
  align-content: center;
  padding: 60px;
  margin-left: 15%;
  input {
    margin-bottom: 12px;
  }
  label {
    font-weight: bold;
  }
  .btn-danger {
    margin-left: 20px;
  }
  #language {
    display: inline;
    margin-right: 25px;
    label {
      margin-left: 5px;
    }
  }
  .btn-primary {
    text-align: center;
  }
  .btn-outline-info {
    height: 40px;
  }
}
