<div class="tour-maker col-8">

  <form [formGroup]="mForm" id="tourMakerForm">
    <div class="mb-3">
      <div class="tours form-group">
        <label for="tours" class="col-form-label">Selecciona tour</label>
        <select id="tours" name="tours" id="code">
          <option value="tour1"> "[nombre del tour]" </option>
          <option value="tour2">...</option>
          <option value="tour3">Tour 3</option>
        </select>
        <button type="button" class="btn btn-danger btn-sm float-right">Eliminar</button>
      </div>
      <div class="language form-group">
        <label for="language" class="col-form-label">¿En qué idioma lo quieres publicar?</label>
        <div id="language" *ngFor="let language of languages">
          <input type="radio" id={{language?.code}} name="language" value={{language?._id}}>
          <label for={{language?.code}}>{{language.name}}</label>
        </div>
      </div>
      <div class="title form-group">
        <label for="title" class="col-form-label">Título de la ruta</label>
        <input type="text" class="form-control" name="title" id="title">
      </div>
      <div class="category form-group">
        <label for="category" class="col-form-label">Categorías</label>
        <input type="text" class="form-control" name="category" id="category">
      </div>
      <div class="description form-group">
        <label for="froala" class="col-form-label">Descripción del tour</label>
        <div class="wysiwyg">
          <div [froalaEditor]></div>
        </div>
      </div>
      <div class="duration form-group">
        <label for="duration" class="col-form-label">Duración (minutos)</label>
        <input type="number" class="form-control" name="duration" id="duration">
      </div>
      <div class="pictures form-group">
        <label for="pictures" class="col-form-label">Imágenes del tour</label>
        <input type="file" class="form-control" name="pictures" id="pictures">
      </div>
      <div class="seats form-group">
        <label for="seats" class="col-form-label">Nº de reservas posibles</label>
        <input type="number" class="form-control" name="seats" id="seats">
      </div>
      <div class="dates form-group">
        <label for="dates" class="col-form-label">Fechas</label>
        <input type="date" class="form-control" name="dates" id="dates">
      </div>
      <div class="time form-group">
        <label for="seats" class="col-form-label">Horas</label>
        <input type="time" class="form-control" name="seats" id="seats">
        <!--¿Para que deje elegir varias horas?-->
      </div>
      <div class="guides form-group">
        <label for="guides" class="col-form-label">Guías del tour</label>
        <select name="guides" id="guides">
          <option value="guides">Guías</option>
        </select>
      </div>
      <button type="submit" (click)="postTour()" class="btn btn-primary mt-3">Crear tour</button>
    </div>
  </form>
</div>
