<div class="panel panel-primary" id="tours-panel">
    <div class="panel-heading">
        <h3 class="panel-title">Listado de tours</h3>
        <ul class="list-group">
            <div class="panel-body" *ngFor="let tour of tours; index as position">
                <li class="list-group-item">{{position+1}}. {{tour.name}}
                    <button type="button" class="btn btn-danger btn-sm float-end" (click)="deleteTour(tour._id)">Eliminar</button>
                    <button type="button" class="btn btn-success btn-sm float-end" (click)="updateTour(tour)">Editar</button>
                </li>
            </div>
        </ul>
    </div>
</div>

<div class="tour-maker col-8" *ngIf="showForm">
    <form [formGroup]="mForm" id="tourMakerForm">
        <div class="mb-3">
            <div class="tours form-group">
                <label for="tourname" class="col-form-label">Nombre del tour</label>
                <input type="text" class="form-control" formControlName="tourname" id="tourname">
            </div>
            <div class="language form-group">
                <label for="language" class="col-form-label">¿En qué idioma lo quieres publicar?</label>
                <select id="language" formControlName="language">
          <option *ngFor="let language of languages; index as i" [value]="i">{{language.name}}</option>
        </select>
            </div>
            <div class="title form-group">
                <label for="title" class="col-form-label">Título de la ruta</label>
                <input type="text" class="form-control" formControlName="title" id="title">
            </div>
            <div class="category form-group ">
                <label for="category" class="col-form-label">Categorías</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" formControlName="categories" id="ca-tegories" readonly [value]="categories.join(', ')" placeholder="Lista de categorías">
                    <input type="text" class="form-control" placeholder="Añadir categoría" #newCategory (keyup.enter)="addCategory(newCategory.value)">
                    <button type="submit" class="btn btn-outline-info btn-sm" (click)="addCategory(newCategory.value)">Añadir</button>
                </div>
            </div>
            <div class="description form-group">
                <div class="text form-group">
                    <label for="text" class="col-form-label">Descripción del tour</label>
                    <textarea class="wysiwyg" class="form-control" [froalaEditor]="froalaOptions" formControlName="text" id="text"></textarea>
                </div>
            </div>
            <div class="duration form-group">
                <label for="duration" class="col-form-label">Duración (minutos)</label>
                <input type="number" class="form-control" formControlName="duration" id="duration">
            </div>
            <div class="pictures form-group">
                <label for="pictures" class="col-form-label">Imagen del tour</label>
                <input type="text" class="form-control" formControlName="route" placeholder="Ruta de la imagen" id="pictures">
                <input type="text" class="form-control" formControlName="detail" id="detail" placeholder="Descripción de la imagen">
            </div>
            <div class="seats form-group">
                <label for="seats" class="col-form-label">Nº de reservas posibles</label>
                <input type="number" class="form-control" formControlName="seats" id="seats">
            </div>
            <!-- <div class="dates form-group">
                <label for="dates" class="col-form-label">Fechas</label>
                <input type="text" class="form-control" formControlName="dates" id="dates" [value]="dates.join(', ')">
                <input type="date" class="form-control" #date id="dates">
                <button type="submit" class="btn btn-outline-info btn-sm" (click)="addDate(date.value)">Añadir</button>
            </div> -->
            <app-datepicker></app-datepicker>
            <div class="time form-group">
                <label for="time" class="col-form-label">Horas</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" formControlName="hours" id="hours" readonly [value]="hours.join(', ')">
                    <input type="time" class="form-control" id="time" #newTime (keyup.enter)="addTime(newTime.value)">
                    <button type="submit" class="btn btn-outline-info btn-sm" (click)="addTime(newTime.value)">Añadir</button>
                </div>
            </div>
            <div class="map form-group">
                <label for="map" class="col-form-label">Inicio del itinerario</label>
                <input type="text" class="form-control" formControlName="map" id="map" placeholder="Iframe con punto de partida en Google Maps">
            </div>
            <div class="guides form-group">
                <label for="guides" class="col-form-label">Guías del tour</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" formControlName="guides" id="guides" readonly [value]="guideNames.join(', ')" />
                    <select id="guide" #guide>
                    <option *ngFor="let guide of guides; index as i" [value]="i">{{guide.name}} {{guide.surname}}</option>
                  </select>
                    <button type="submit" class="btn btn-outline-info btn-sm" (click)="addGuide(guide.value)">Añadir</button>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" (click)="saveTour()" class="btn btn-primary mt-3">Crear tour</button>
            </div>
        </div>
    </form>
    <div *ngIf="alert" class="alert alert-warning alert-dismissible fade show" role="alert">
        ¡Tour guardado correctamente!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
