.container {
  margin-left: 15%;
  margin-bottom: 3%;
}

#tours-panel {
  margin-bottom: 30px;
  width: 60%;
  margin-left: 20%;
}

.list-group-item {
  height: 48px;
}

.panel-title {
  text-align: center;
  width: 60%;
  font-size: 24px;
  margin-bottom: 30px;
}

.tour-maker {
  background-color: rgb(217, 225, 236);
  border-radius: 5px;
  align-content: center;
  padding: 60px;
  margin-left: 15%;
  input {
    margin-bottom: 12px;
  }
  label {
    font-weight: bold;
  }
  .btn-danger {
    margin-left: 20px;
  }
  #language {
    display: inline;
    margin-right: 25px;
    label {
      margin-left: 5px;
    }
  }
  .btn-primary {
    text-align: center;
  }
  .btn-outline-info {
    height: 40px;
  }
  input[type="radio"] {
    margin-left: 2%;
  }
  .guides {
  select {
    height: 38px;
  }
}
}

.alert {
  margin-top: 25px;
  font-size: 1.3em;
  text-align: center;
  border-radius: 5px;
  width:40%;
  margin-left: 30%;
}
