<div id="faq" class="jumbotron h-100">
  <div class="row justify-content-center h-100">
    <div class="col-2 left-image h-100"></div>
    <div class="col-8 h-100">
      <div class="container card faq h-100">
        <article>
          <div class="header-content">
            <header>
              <h1 class="outstanding">Preguntas Frecuentes / FAQ</h1>
            </header>
          </div>
          <div class="main-content">
            <main>
              <ul>
                <li class="question">
                  <p>Aquí va una pregunta</p>
                  <ul>
                    <li class="answer">Y aquí va su respuesta.</li>
                  </ul>
                </li>
              </ul>
            </main>
          </div>
          <div class="footer-content">
            <footer>
              <p>¿No hemos solucionado tu duda?</p>
              <p>Contacta con nosotros <a [routerLink]="['/contact']">aquí</a>.</p>
            </footer>
          </div>
        </article>
      </div>
    </div>
    <div class="col-2 right-image h-100"></div>
  </div>
</div>
