@import "../../styles";

#faq {
  margin-bottom: -30vh;
  overflow-x: hidden;
}

.h-100 {
  min-height: 80vh;
}

.faq {
  background-color: rgb(26, 26, 26, 0.85);
  padding: 30px;
  color: white;
  .question {
    p {
      font-size: 1.4em;
      font-weight: bold;
    }
    .answer {
      font-size: 1.3em;
    }
  }
}

.left-image {
  margin-left: -15px;
  margin-right: -12px;
  margin-top: -1px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url("../../assets/images/FaqLeft.jfif");
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: left center;
}

.right-image {
  margin-left: -13px;
  width: 18%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url("../../assets/images/faqRight.jfif");
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: left center;
  transform: scaleX(-1);
}


.accordion {
  width: 100%;
  padding: 0px;
  border: none;
}



.accordion-button {
  padding: 3px;
  color:white;
  background: black;
}

.accordion-body {
  padding: 3px;
  margin-bottom: 15px;
  color:yellow;

}

.accordion-item {
  background: rgb(83, 83, 83);
}



.footer-content {
  border-radius: 7px;
  background-color: rgb(131, 131, 131);
  width: 40%;
  text-align: center;
  padding: 1%;
  margin: 10% auto;
  font-size: 1.2em;
}

a:hover {
  color: $color-corporative;
}

@media (max-width: 770px) {
  .right-image,
  .left-image {
    display: none;
    background: transparent;
  }

  .jumbotron {
    min-height: 150vh;
    min-width: 100%;
    background-color: rgb(68, 68, 68);
  .col-8 {
    width: 100%;
  }
  }


}
