@import "../../styles";


h1 {
  text-align: center;
}
.container-faq {
  overflow-y: scroll;
  max-height: 332px;
}

#faq {
  margin-bottom: -10%;
  overflow-x: hidden;
  max-width: 100%;
}

.h-100 {
  min-height: 80vh;

}

.faq {
  background-color: rgb(26, 26, 26, 0.85);
  padding: 20px;
  color: white;
  .question {
    p {
      font-size: 1.4em;
      font-weight: bold;
    }
    .answer {
      font-size: 1.3em;
    }
  }
}

.left-image {
  margin-left: -15px;
  margin-right: -12px;
  margin-top: -1px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url("../../assets/images/FaqLeft.jfif");
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: left center;
}

.right-image {
  margin-left: -13px;
  width: 18%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url("../../assets/images/faqRight.jfif");
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: left center;
  transform: scaleX(-1);
}


.accordion {
  width: 100%;
  height: 100%;
  padding: 5px;
  border: none;
}

.accordion-button {
  padding: 8px;
  color: #ffa556;
  background: black;

}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed):after {
  color: red;
}


.accordion-body {
  margin-bottom: 15px;
  color:white;
  font-size: 18px;
}

.accordion-item {
  background: rgb(44, 44, 44);
}


.footer-content {
  border-radius: 7px;
  background-color: rgb(131, 131, 131);
  width: 35%;
  text-align: center;
  padding: 5px;
  margin: 6% auto;
  font-size: 1.2em;
}

a:hover {
  color: $color-corporative;
}

@media (max-width: 770px) {
  .right-image,
  .left-image {
    display: none;
    background: transparent;
  }

  .jumbotron {
    min-height: auto;
    min-width: 100%;
    background-color: rgba(68, 68, 68, 0.3);

  .col-8 {
    width: 100%;
  }
  }

  .container-faq {
    max-height: 310px;
  }

  .faq {
    background-color: rgb(26, 26, 26, 0.7);
  }

  .footer-content {
    width: 80%;
    margin: 12% auto;
  }
}
