@import "../../styles";
.nav-bar {
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  white-space: nowrap;
  height: 20vh;
  padding-bottom: 10px;
  background-color: $color-support-one;
  z-index: 9999;
  .social-media-bar {
    background-color: #252525;
    height: 40px;
    .media-bar-left {
      padding-top: 10px;
      #correo {
        color: rgb(206, 241, 255);
        text-decoration: none;
        font-size: 16px;
        :hover {
          color: $color-corporative;
          text-decoration: none;
        }
      }
    }
    /*CSS para los iconos de las redes sociales */
    /* Style the icon bar links */
    .navbar-social {
      white-space: nowrap;
      margin-top: 13px;
      margin-right: 5em;
      float: right;
      a {
        margin-left: 30px;
        text-align: center;
        transition: all 0.3s ease;
        color: rgb(255, 255, 255);
        font-size: 20px;
      }
      /* Style the social media icons with color, if you want */
      .facebook {
        /*background: #3B5998;
            color: white;*/
        color: #4b649b;
      }
      .facebook:hover {
        color: rgba(75, 100, 155, 0.75);
      }
      .twitter {
        /*background: #55ACEE;
            color: white;*/
        color: #55acee;
      }
      .twitter:hover {
        color: rgba(85, 172, 238, 0.75);
      }
      .instagram {
        color: rgb(255, 199, 250);
      }
      .instagram:hover {
        color: rgba(255, 109, 243, 0.75);
      }
      .youtube {
        /*background: #bb0000;
            color: white;*/
        color: #bb0000;
      }
      .youtube:hover {
        color: rgba(187, 0, 0, 0.75);
      }
      .tripadvisor {
        color: #33e0a1;
      }
      .tripadvisor:hover {
        color: rgba(51, 224, 161, 0.75);
      }
    }
  }
  .navbar {
    float: right;
    white-space: nowrap;
    margin-right: 2em;
    #faq {
      font-variant: small-caps;
    }
    #engl {
      max-height: 26px;
      max-width: 26px;
    }
    #engl:hover {
      opacity: 0.7;
    }
  }
  .logo {
    float: left;
    margin-left: 1%;
    margin-top: -1%;
    height: 100%;
    img {
      height: 100%;
      width: auto;
      border-radius: 2%;
    }
    img:hover {
      filter: drop-shadow(1px 1px 2px rgb(255, 230, 2));
    }
  }
  .nav-link {
    font-size: 22px;
    padding: 30px 30px;
    color: rgb(255, 255, 255);
    &:hover {
      color: rgba(251, 255, 0, 0.75);
      font-weight: bolder;
    }
    &.active {
      font-weight: 800;
      color: rgb(250, 255, 0);
    }
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }

  /* Tooltip text - INVESTIGAR BIEN */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(224, 224, 224);
    color: rgb(3, 3, 3);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }

  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .hamburger {
    display: none;
    color: white;
    margin-top: 2em;
    margin-right: 4em;
  }
  .bar {
    display: block;
    width: 25px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: yellow;
  }

  @media only screen and (max-width: 898px) {
    #mainnav {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(255, 255, 255, 0.05);
    }
    #mainnav.active {
      left: 0;
    }
    .nav-item {
      margin: 2.5rem 0;
    }
    .hamburger {
      color: yellow;
      display: block;
      cursor: pointer;
    }
  }
}
