
.nav-bar {
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 20vh;
    padding-bottom: 20px;
    background-color: black;
    z-index: 9999;
    /*CSS para los iconos de las redes sociales */
    /* Style the icon bar links */
    .icon-bar {
        a {
            display: block;
            text-align: center;
            transition: all 0.3s ease;
            color: white;
            font-size: 20px;
        }
        /* Style the social media icons with color, if you want */
        &:hover {
            background-color: #000;
        }
        .facebook {
            /*background: #3B5998;
            color: white;*/
            color: #3B5998;
        }
        .twitter {
            /*background: #55ACEE;
            color: white;*/
            color: #55ACEE;
        }
        .instagram {
            color: white;
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            background-clip: text;
            -webkit-background-clip: text;
        }
        .youtube {
            /*background: #bb0000;
            color: white;*/
            color: #bb0000;
        }
    }
    .logo {
        float: left;
        margin-left: 2%;
        height: 75%;
        img {
            height: 80%;
            width: auto;
        }
    }
    .nav-link {
        font-size: 22px;
        padding: 30px 30px;
        color: rgb(255, 255, 255);
        &:hover {
            color: rgba(251, 255, 0, 0.750);
            font-weight: bolder;
        }
        &.active {
            font-weight: 800;
            color: rgb(250, 255, 0);
        }
    }
}
