<div class="container nav-bar">
  <div class="row social-media-bar">
    <div class="col-10 media-bar-left justify-content-center">
      <a href="mailto:????@??.com" id="correo">✉️ noname@somemail.com</a>
    </div>
    <div class="col-2 media-bar-right">
      <div class="navbar-social">

        <a href="#" class="facebook" target="_blank" matTooltip="Facebook">
          <fa-icon [icon]="faFacebookSquare" alt="Facebook"></fa-icon>
        </a>


        <a href="#" class="twitter" target="_blank" matTooltip="Twitter">
          <fa-icon [icon]="faTwitterSquare" alt="Twitter"></fa-icon>
        </a>


        <a href="#" class="instagram" target="_blank" matTooltip="Instagram">
          <fa-icon [icon]="faInstagram" alt="Instagram"></fa-icon>
        </a>


        <a href="#" class="youtube" target="_blank" matTooltip="Youtube">
          <fa-icon [icon]="faYoutube" alt="YouTube"></fa-icon>
        </a>

      </div>
    </div>
  </div>

  <div class="logo">
    <img src="../../assets/images/pruebalogo.png" alt="Logo freetour">
  </div>


  <nav class="navbar">
    <ul class="nav justify-content-end" id="mainnav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          aria-current="page">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/tours']" routerLinkActive="active">Rutas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/blog']" routerLinkActive="active">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/en']" routerLinkActive="active"><img src="../../assets/images/english.svg"
            id="engl"></a>
      </li>
    </ul>
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</div>
