<div class="main-tours container">
  <div class="d-flex row row-cols-2">
    <div class="col">
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2016/11/09/12/20/toledo-1811636_960_720.jpg" class="card-img-top"
          alt="...">
        <div class="card-body">
          <h1 class="card-title">Nombre Ruta</h1>
          <p class="card-text">Texto de explicación de la ruta.</p>
          <a href="#" class="btn btn-warning">Reserva</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2015/04/17/08/55/toledo-726944_960_720.jpg" class="card-img-top"
          alt="...">
        <div class="card-body">
          <h1 class="card-title">Nombre Ruta</h1>
          <p class="card-text">Texto de explicación de la ruta.</p>
          <a href="#" class="btn btn-warning">Reserva</a>
        </div>
      </div>
    </div>
  </div>
</div>
