<div class="main-tours container">
    <div class="d-flex row row-cols-2">
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nombre Ruta</h5>
                    <p class="card-text">Texto de explicación de la ruta.</p>
                    <a href="#" class="btn btn-primary">Reserva</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nombre Ruta</h5>
                    <p class="card-text">Texto de explicación de la ruta.</p>
                    <a href="#" class="btn btn-primary">Reserva</a>
                </div>
            </div>
        </div>
    </div>
</div>
