<div class="col-8 mt-4 post">
  <h3>Crear publicación</h3>
  <form [formGroup]="pForm" id="postForm">
      <div class="language form-group">
        <label for="language" class="col-form-label">Idioma de la publicación</label>
        <div id="language" *ngFor="let language of languages">
          <input type="checkbox" id={{language?.code}} name="language" value={{language?._id}} >
          <label for={{language?.code}}>{{language.name}}</label>
        </div>
      </div>
      <div class="title form-group">
        <label for="title" class="col-form-label">Título de la publicación</label>
        <input type="text" class="form-control"  name="title" id="title" placeholder="Título del post">
      </div>
      <div class="details form-group">
        <label for="details" class="col-form-label">Descripción del tour</label>
        <div class="wysiwyg" class="form-control"   name="details" id="details">
          <div [froalaEditor]>Escribe aquí</div>
        </div>
      </div>
      <div class="categories form-group ">
        <label for="categories" class="col-form-label">Categorías</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="categories" id="categories" readonly [value]=""
            placeholder="Lista de categorías">
          <input type="text" class="form-control" #newTag (keyup.enter)="addCategory(newCategory)"
            placeholder="Introduce categoría y pulsa Enter" />
          <button type="submit" class="btn btn-outline-warning btn-sm" (click)="addCategory(newCategory)">Añadir</button>
        </div>
      </div>
      <div class="image form-group">
         <label for="image" class="col-form-label">Imagen</label>
         <input type="text" class="form-control" name="image"  id="image" placeholder="Enlace de la imagen">
         <input type="text" class="form-control" name="imagename" id="imagename" placeholder="Descripción de la imagen">
      </div>
      <div class="important form-group">
         <input type="checkbox" id="important" name="important" value="important" >
         <label for="important">Post destacado</label><br>
      </div>
    <div class="d-flex justify-content-center">
       <button type="submit" (click)="savePost()" class="btn btn-outline-dark mt-3">Guardar publicación</button>
    </div>
  </form>
</div>
