.post {
  background-color: rgb(199, 169, 255);
  border-radius: 7px;
  margin-left: 20%;
  padding: 25px;
}

.label {
  font-weight: bold;
}

.wysiwyg {
  margin-top: 150px;
  width: 90%;
  text-align: center;
}
