#main-contact-form {
  background-color: rgb(224, 224, 224);
  border-radius: 15px;
  padding: 30px;
  width: 50%;
  margin-top: 15%;

  .fs-3 {
    text-align: center;
  }
}

label {
  padding-bottom: 12px;
}

p,
.col-form-label {
  font-size: 18px;
}

.btn {
  font-weight: 700;
}
.btn-warning:hover {
  box-shadow: 1px 1px grey;
}
