<div class="contact container">
  <div id="main-contact-form" class="container">
    <div class="row">
      <div class="col-md-5 mr-auto">
        <h1 class="text-center">Contacto</h1>
        <p class="mb-5">Para peticiones especiales, tours privados o cualquier otra duda sobre nuestros tours, ponte en
          contacto con nosotros a través de este formulario. <br>Te responderemos lo antes posible.</p>
      </div>
      <div class="col-md-12">
        <form [formGroup]="cForm" class="mb-5" method="post" id="contactForm" name="contactForm">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="name" class="col-form-label">Nombre</label>
              <input type="text" class="form-control" name="name" id="name">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group">
              <label for="email" class="col-form-label">Email</label>
              <input type="text" class="form-control" name="email" id="email">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group">
              <label for="name" class="col-form-label">Teléfono (opcional)</label>
              <input type="text" class="form-control" name="phone" id="phone">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group">
              <label for="message" class="col-form-label">Mensaje</label>
              <textarea class="form-control" name="message" id="message" cols="30" rows="7"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <br><input type="submit" value="Enviar" class="btn btn-warning btn-lg">
            </div>
          </div>
        </form>
