<div class="contact container">
    <div id="main-contact-form" class="container">
        <label for="main-contact-form" class="fs-3 fw-bolder">Contacto</label>
        <div class="d-flex justify-content-center row">
            <div class="col">
                <div class="card">
                    <div class="input-text-name">
                        <input type="text" placeholder="Nombre">
                    </div>
                    <div class="input-textarea-content">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                            <label for="floatingTextarea">Contenido</label>
                        </div>
                    </div>
                    <div class="submit-button">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="input-text-email">
                        <input type="text" placeholder="Correo electrónico">
                    </div>
                    <div class="input-number-phone">
                        <input type="number" placeholder="Teléfono">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
