.userlist {
  margin-left: 15%;
  h3 {
    text-align: center;
  }
  li {
    padding-right: 70%;
    white-space: nowrap;
  }
}

.user-maker {
  background-color: rgb(181, 207, 231);
  padding: 20px;
  margin-top: 30px;
  border-radius: 5px;
  margin-left: 15%;
}

.btn-warning {
  margin-top: 2%;
  margin-left: 33%;
}
