.right-item {
    position: right;
    width: 80%;

    h1 {
      color: black;
      font-weight: bold;
      line-height: 60px;
      font-size: 50px;
      width: 50%;
      margin: 105px 0px 75px 0px;

      #highlight {
        color: #d33521;
      }

    }

  }

  .left-item {
    position: left;


    button {
      background-color: #d33521;
      color: white;
      padding: 45px;
      border: none;
      border-radius: 5%;
    }
  }


