<div class="background-black">
    <div class="container-fluid initial-container background-image">
        <div class="row clearfix align-middle">
            <div class="col left-item">
                <button type="button " class="btn btn-primary btn-lg" (click)="goToBooking()">RESERVA YA</button>
            </div>
            <div class="col right-item">
                <h1>Descubre <span id="highlight">Free Tours</span> en Toledo</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid explanation-container">
    <div class="row ">
        <div class="col-12 ">
            <div class="d-flex justify-content-center ">
                <h2>¿Conoces los <span class="bold ">Free Tours</span>?</h2>
            </div>
            <div class="text-justify text-center ">
                <p>Esto es un texto de prueba en el que se describe lo que es un Free Tour</p>
            </div>
        </div>
    </div>
</div>

<!-- Aquí he puesto la misma sección que arriba pero con un jumbotron, elige la que prefieras-->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">¿Conoces los <span class="bold">FREE TOURS?</span></h1>
        <p class="lead">Esto es un texto de prueba en el que se describe lo que es un Free Tour.</p>
    </div>
</div>

<div class="container-fluid last-post-container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            Aquí iría el último post del blog + enlace al blog
        </div>
    </div>
</div>
<div class="container-fluid review-container">
    <div class="row ">
        <div class="d-flex justify-content-center col-12 ">
            <h2>Reseñas:</h2>
        </div>
    </div>
    <div class="d-flex justify-content-center row ">
        <div class="col">
            <div class="card text-justify text-center ">
                <p>Reseña 1</p>
            </div>
        </div>
        <div class="col">
            <div class="card text-justify text-center ">
                <p>Reseña 2</p>
            </div>
        </div>
        <div class="col">
            <div class="card text-justify text-center ">
                <p>Reseña 3</p>
            </div>
        </div>
    </div>
</div>
