.initial-container {
  height: 85vh;
  //background-color: rgb(163, 163, 163);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/89321602-7140-4b06-b09d-6318140681a7.jfif");
  background-repeat: no-repeat;
  background-size: 100% 120%;
  background-position: center center;
  .left-item {
    position: left;
    padding: 12em 3em;
  }
  .right-item {
    position: right;
    width: 90%;
    h1 {
      color: white;
      font-weight: bold;
      line-height: 60px;
      font-size: 50px;
      width: 75%;
      margin: 75px 0px 75px 0px;
      #highlight {
        color: yellow;
      }
    }
    button {
      background-color: yellow;
      color: black;
      padding: 40px;
      border: none;
      border-radius: 8%;
      margin-left: 120px;
      transition-duration: 0.2s;
      box-shadow: 3px 3px #888888;
      position: absolute;
    }
    button:hover {
      background-color: rgb(226, 226, 108);
      box-shadow: none;
    }
  }
}

.jumbotron {
  text-align: center;
  color: white;
  padding: 50px;
  background: linear-gradient(#000000, #4b4b4b);
}
