<div class="background-black">
  <div class="container-fluid initial-container background-image">
    <div class="row clearfix align-middle">
      <div class="col left-item">
      </div>
      <div class="col right-item">
        <h1>Explora <span id="highlight" class="normal-font font-weight-bold">Toledo</span></h1>
        <h2>Descubre la ciudad de las tres culturas</h2>
        <button type="button " class="btn btn-primary btn-lg outstanding" (click)="goToBooking()">RESERVA YA</button>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 outstanding">¿Conoces los <span class="bold">FREE TOURS?</span></h1>
    <p class="lead">Frase bonita marketiniana que describa lo que es un Free Tour.<br><br>
      <span class="bold">Explora Toledo</span> es una empresa de visitas guiadas y rutas por la ciudad de Toledo.
      Pretendemos enseñarte la historia, el arte, la arquitectura, las leyendas y las curiosidades de Toledo de la
      forma
      más amena y divertida
      posible.
    </p>
  </div>
</div>

<div class="container-fluid last-post-container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h4>[ Enlazar post del blog ]</h4>
    </div>
  </div>
</div>

<div class="container-fluid fb-container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fexploratoledo%2Fposts%2F117132373841404&show_text=true&width=500"
        width="700" height="700" style="border:none;overflow:hidden" scrolling="yes" frameborder="0"
        allowfullscreen="true"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
  </div>
</div>


<div class="container-fluid review-container">
  <div class="row ">
    <hr>
    <div class="d-flex justify-content-center col-12 ">

      <h2>Lo que opinan nuestros visitantes</h2>
    </div>
  </div>
  <div class="d-flex justify-content-center row ">
    <div class="col">
      <div class="card text-justify text-center ">
        <iframe
          src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ffatima.ortigosa%2Fposts%2F2830921767128061&show_text=true&width=500"
          width="500" height="225" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
          allowfullscreen="true"
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      </div>
    </div>
    <div class="col">
      <div class="card text-justify text-center ">
        <p>Reseñas tripadvisor</p>
      </div>
    </div>
    <div class="col">
      <div class="card text-justify text-center ">
        <iframe
          src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fexploratoledo&tabs=timeline&width=350&height=150&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
          width="400" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
          allowfullscreen="true"
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      </div>
    </div>
  </div>
</div>
