<div class="main-blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 mt-4 mb-4">
                <div id="posts">
                    <div class="card">
                        <img src="../../assets/images/89321602-7140-4b06-b09d-6318140681a7.jfif" alt="" class="card-img-top" />
                        <div class="card-body">
                            <h3 class="card-title">Post title</h3>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer row deg-color">
                            <div class="col">
                                <div class="row">
                                    <div class="col text-right">
                                        2 days ago
                                    </div>
                                    <div class="col">
                                        *Edited
                                    </div>
                                </div>
                            </div>
                            <div class="col text-right">
                                Category
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
