<div class="main-blog">
    <div class="container">
        <div class="row">
            <div class="col-2 left-box" *ngIf="checkCategories()">
                <div class="card">
                    <div class="header">
                        <h2>Categorías</h2>
                    </div>
                    <div class="body widget">
                        <ul class="list-unstyled categories-clouds m-b-0">
                            <li *ngFor="let category of categories">
                                <a href="#">{{category}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-8 center-box">
                <div id="posts" *ngFor="let post of posts | paginate: { itemsPerPage: 5, currentPage: p }">

                    <div class="card">
                        <img [src]="post.image? post.image.route : ''" [alt]="post.image? post.image.detail : ''" class="card-img-top" />
                        <div class="card-body">
                            <h3 class="card-title">{{post.details != undefined? post.details[0].title : ''}}</h3>
                            <div class="card-text" [ngClass]="{'limitTextHeight': isReadMore}" [innerHTML]="post.details? post.details[0].text : ''"></div>
                            <button type="button" class="btn btn-outline-dark" (click)="showText()">
                {{ isReadMore ? 'Leer más': 'Leer menos' }}
              </button></div>

                        <div class="card-footer row deg-color outstanding">
                            <div class="col">
                                Publicado en: {{post.updatedAt? moment(post.updatedAt.toString()).format("DD-MM-YYYY") : ''}}
                            </div>
                            <div class="col text-right">
                                <p id="tags">{{post.details != undefined? (post.details[0].categories != undefined? post.details[0].categories.join(', ') : '') : ''}}</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col text-right paginator">
                    <pagination-controls class="my-pagination" (pageChange)="p = $event" [maxSize]="9" [autoHide]="true" [responsive]="true" previousLabel="Anterior" nextLabel="Siguiente">
                    </pagination-controls>
                </div>
            </div>

            <div class="col-2 right-box">
                <div class="card">
                    <h2>Entradas destacadas</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h3>Ejemplo de post destacado
                            </h3>
                        </li>
                        <li class="list-group-item" *ngFor="let importantPost of importantPosts">
                            <h3 [innerHTML]="importantPost">
                            </h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <fa-icon [icon]="faArrowUp" (click)="toTop()"></fa-icon>
    </div>
</div>