@import "../../styles";

.main-blog {
  padding-top: 20px;
  padding-bottom: 20%;
  margin-bottom: -7%;
  background-color: rgb(26, 26, 26, 0.85);
}

h2 {
  text-align: center;
}

p {
  font-size: 16px;
}

.card {
  text-align: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255);
  border: solid rgb(26, 26, 26, 0.85);
  overflow: hidden;
}

.card-text,
.header {
  text-align: justify;
  white-space: nowrap;
}

.card-img-top {
  height: 40vh;
  width: auto;
  object-fit: cover;
}
.card-footer {
  width: inherit;
  align-content: center;
}

.text-right {
  text-align: center;
}

.left-box .categories-clouds li {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 7px;
}

.left-box {
  .card {
    padding: 8px;
    margin-left: -60%;
  }
}

.left-box .categories-clouds li a {
  display: block;
  border: 1px solid;
  padding: 6px 10px;
  border-radius: 3px;
  background-color: rgba(221, 186, 122, 0.1);
}
a {
  font-size: 16px;
  font-weight: 500;
}
a:hover {
  color: rgb(7, 6, 5);
}

.limitTextHeight {
  height: 40px;
  overflow: hidden;
}

.right-box {
  .card {
    padding: 8px;
    margin-right: -60%;
    min-width: auto;
    .header {
      white-space: nowrap;
    }
  }
}


.paginator {
  align-content: center;
}
.my-pagination  {
  padding: 35px;
  color: rgb(241, 159, 7);
  font-size: 20px;
  ::ng-deep .ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #666666;
    color: #fefefe;
    cursor: default;
  }
}



.wrapper {
  float: right;
  margin-right: 5%;
  position: fixed;
  bottom: 15vh;
  right: 3vw;

  fa-icon {
    font-size: 40px;
    color: $color-degradation;
    cursor: pointer;
  }
  fa-icon:hover {
    color: $color-corporative;
  }
}

@media (max-width: 769px) {
  .left-box,
  .right-box {
    display: none;
  }

  .center-box {
    width: 100%;
  }
  .main-blog {
    padding-bottom: 30%;
  }

  .wrapper {
    float: right;
    position: relative;
    margin-top: 30%;
    margin-right: 43%;
    bottom: 10vh;
  }
}
