<div>
    <div id="date-range-inputs">
        <input type="date" [(ngModel)]="startDate">
        <input type="date" [(ngModel)]="endDate">
    </div>
    <div id="error-message">
        <div *ngIf="errorStartDate">
            Error, you must set a start date to proceed
        </div>
        <div *ngIf="errorEndDate">
            Error, you must set a end date to proceed
        </div>
    </div>
    <div id="Frecuency">
        <label>Frecuency:</label>
        <select #frecuency (change)="changeFrecuency(frecuency.value)">
      <option value="Daily">
        Daily
      </option>
      <option value="Weekly">
        Weekly
      </option>
      <option value="Monthly">
        Monthly
      </option>
    </select>
    </div>
    <div [ngSwitch]="frecuency.value.toString()">
        <div *ngSwitchCase="'Weekly'">
            <div *ngFor="let weekDay of weekDays">
                <input type="checkbox" #weekDay value="weekDay.checked" [checked]="weekDay.checked" (change)="weekDay.checked = !weekDay.checked">
                <label>{{weekDay.day}}</label>
            </div>
        </div>
        <div *ngSwitchCase="'Monthly'">
            <div *ngFor="let day of daysOnAMonth">
                <input type="checkbox" #day value="day.checked" [checked]="day.checked" (change)="day.checked = !day.checked">
                <label>{{day.day}}</label>
            </div>
        </div>
        <div *ngSwitchDefault></div>
    </div>
    <div>
        <button (click)="setDates()">
      Set dates
    </button>
    </div>
</div>
