<footer class="clearfix">
  <div class="visible-sm visible-xs clearfix">
    <span class="text-info">
      <a [routerLink]="['/aviso-legal']" i18n="footer|Legal">Aviso legal </a>
      <a [routerLink]="['/politica-privacidad']" i18n="footer|Privacy"> Política de privacidad </a>
      <a [routerLink]="['/cookies']" i18n="footer|Cookies"> Política de cookies </a>
    </span><br>
  </div>
  <div class="copyright">
    <span class="text-muted">©<a href="https://www.linkedin.com/in/laura-ballesteros-luj%C3%A1n-65999180/" id="by">
        Laura
        Ballesteros</a> & <a href="https://www.linkedin.com/in/jorge-villaplana-mill%C3%A1-bb3ab0169/" id="by"> Jorge
        Villaplana</a>, 2021</span>
  </div>
</footer>
